@import url('../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../../node_modules/@fortawesome/fontawesome-free/css/all.min.css');
@import url('../../node_modules/react-slideshow-image/dist/styles.css');
.bg-footer{
    background-color: rgb(14, 94, 110);
    color:rgb(224, 179, 30);
    font-family: fantasy;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(130, 103, 103);
}

/* slide_show */
.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 600px;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  .slideImg{
    margin-top: 20px;
    height: 1000px;
    width: 1000px;
    position: relative;
    left: 150px;
    margin-bottom: 20px;
  }
  .hover-item:hover{
    color:rgb(224, 179, 30);
    font-size: 25px;
  }
  .display_gif{
    border: rgb(237, 27, 27) 2px solid;
    border-radius: 10px;
    box-shadow: rgb(249, 195, 124) 5px 5px 5px;
    cursor:pointer;
    transform: scale(1,1);
    transition: all 0.3s ease 0s;

  }
  .display_gif:hover{
    transform: scale(1.08, 1.08);
  }
  .img_gif{
    width: 100px;
    height: 150px;
    border-radius: 10px;
  }
  .exe_name{
    font-family: Helvetica ;
    margin-top: 14px;
    text-transform:capitalize;
    margin-bottom: 16px;
    font-size: 22px;
    cursor: pointer;
    cursor:pointer;
    transform: scale(1,1);
    transition: all 0.3s ease 0s;

  }
  .exe_name:hover{
    transform: scale(1.08, 1.08);
  }

  .text_element{
    color: #f09a29;
    font-family: Helvetica ;
    margin-top: 14px;
    text-transform:capitalize;
    margin-bottom: 16px;
    font-size: 22px;
  }
  
  .log{
    color:rgb(224, 179, 30);
  
    background-color: rgb(14, 94, 110);
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 5px 5px 5px rgb(130, 103, 103);
    padding: 15px;
    margin: 15px;
    font-weight:bold;

  }

  .form{
    padding-left: 10px;
    border-radius: 10px ;
    height:50px;
    width:200px;
    margin-left: 10px;
    margin-top: 25px;
  }

  .btn_src{
    color:rgb(224, 179, 30);
    background-color: rgb(14, 94, 110);
    margin-top: 25px;

  }

  .home{
    font-size: 40px;
    color:rgb(224, 179, 30);
    border: 1px solid rgb(14, 94, 110);
    background-color: rgb(14, 94, 110);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(130, 103, 103);
    padding-left: 10px;
    margin-left: 10px;
    font-weight:bold;
    padding: 10px 10px;
    }

  